*{ 
    margin: 0%;
    padding: 0%;
  }
  
  body{
      display: grid;
      grid-template-areas: 
      "lateral cabecalho cabecalho cabecalho"
      "lateral principal principal principal"
      "lateral rodape rodape rodape";
      grid-template-columns: auto auto auto;
      grid-template-rows: auto 90vh auto;
      background-color: #E7E7E7;
  }
  .cabecalho{
      background-color: #fff;
      grid-area: cabecalho;
      height: 45px;
      width: 100%;
      background-color: #04C9F4;
      color: #fff;
      align-content: center;
      text-align: center;
  }
  .lateral{
      background-color: #fff;
      grid-area: lateral;
      background-color: #D9D9D9;
      grid-gap: 1px;
      width: 189px;
  }
  .principal{
      background-color: #fff;
      display: grid;
      grid-area: principal;
      align-content: space-between;
      align-items: start;
      padding: 5px;
  }
  .rodape{
      background-color: #fff;
      color: #04C9F4;
      grid-area: rodape;
      height: 45px;
      width: 100%;
      align-content: center;
      text-align: center;
  }
  .item{
      height: 29px;
      background-color: #04C9F4;
      color: #fff;
      border: solid 1px;
      width: 189px;
  }
  .item1{
      height: 29px;
      border: solid 1px;
      color: #fff;
      width: 189px;
      color: #fff;
  }
  .item2{
      background-color: #D9D9D9;
      width: 436px;
      height: 63px;
      color: #fff;
  }
  .item3{
      background-color: #D9D9D9;
      width: 73px;
      height: 53px;
      color: #fff;
  }
  .item4{
    background-color: #D9D9D9;
    width: 363px;
    height: 53px;
    color: #fff;
  }
  a{
      text-decoration: none;
  }
  .item1:hover{
      color: black;
      border: none;
  }
  .item:hover{
      color: black;
      border: none;
  }
