*{ 
  margin: 0%;
  padding: 0%;
}

body{
    display: grid;
    grid-template-areas: 
    "lateral cabecalho cabecalho cabecalho"
    "lateral principal principal principal"
    "lateral rodape rodape rodape";
    grid-template-columns: auto auto auto;
    grid-template-rows: auto 90vh auto;
    background-color: #E7E7E7;
}
.cabecalho{
    background-color: #fff;
    grid-area: cabecalho;
    height: 45px;
    background-color: #04C9F4;
    color: #fff;
    align-content: center;
    text-align: center;
}
.lateral{
    background-color: #fff;
    grid-area: lateral;
    background-color: #D9D9D9;
    grid-gap: 1px;
    width: 189px;
}
.principal{
    background-color: #fff;
    display: grid;
    grid-area: principal;
    background-color: #e7e7e7;
    align-content: center;
    justify-items: center;
    width: 100%;
}
.rodape{
    background-color: #fff;
    color: #04C9F4;
    grid-area: rodape;
    height: 45px;
    width: 100%;
    align-content: center;
    text-align: center;
}
.item{
    height: 29px;
    background-color: #04C9F4;
    color: #fff;
    border: solid 1px;
    width: 189px;
}
.item1{
    height: 29px;
    border: solid 1px;
    color: #fff;
    width: 189px;
}
.item2{
    background-color: #fff;
    width: 377px;
    height: 368px;
    align-content: center;
    text-align: center;
    align-self: center;
}
a{
    text-decoration: none;
}
.item1:hover{
    color: black;
    border: none;
}
.item:hover{
    color: black;
    border: none;
}